<%= form_for [refinery, :contact_form_fields_admin, @contact_form_field] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @contact_form_field,
              :include_object_name => true %>


  <div class='field'>
    <%= f.label :field_name -%>
    <%= f.text_field :field_name, :class => 'larger widest'  -%>

  </div>

  <div class='field'>
    <%= f.label :required -%>
    <%= f.check_box :required  -%>

  </div>

  <div class='field'>
    <%= f.label :field_type -%>
    <%= f.select :field_type, Refinery::ContactFormFields::ContactFormField::TYPE_OPTIONS.map{|k, v| [v, k]} %>

  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.contact_form_fields.admin.contact_form_fields.contact_form_field'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @contact_form_field.field_name) %>
<% end -%>
